code {
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

h1 {
  font-size: 120%;
}
#title {

  //&.present {
  //  width: 500px;

  h1, img {
    display: inline;
    margin: 0;
    font-family: sans-serif;
  }

  li {
    font-size: 80%;
  }

  #logo {
    height: 150px;
  }
    //p {
    //  color: #2125ff;
    //}

    //p.rotating {
    //  transform: rotate(-180deg);
    //  transition-delay: 0.25s;
    //  transition: 1s;
    //}
  //}

}

@keyframes keyframe-fadein {
  from {opacity:0;}
  to {opacity:1;}
}


@mixin fadein($delay){
  animation: keyframe-fadein 1s linear $delay normal;
  animation-fill-mode: forwards;
  //animation-name: keyframe-fadein;
  //animation-duration: 1s;
  //animation-delay: $delay;
  //animation-timing-function: linear;
}

@mixin fadein-li($nb){
  @for $i from 1 through $nb {
    li{
      opacity: 0;
    }

    &.past {
      li{
        opacity: 1;
      }
    }

    &.present {
      li:nth-child(1){
        @include fadein(0.25s)
      }
      li:nth-child(2){
        @include fadein(0.5s)
      }
    }
  }

}


#jvm{
  @include fadein-li(2);
}
