@import "./common.scss";

code {
  font-family: monospace;
  font-size: 75%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 40px;
}

h1 {
  font-size: 140%;
  //text-shadow: 10px 10px 20px #2b303b;
}

.cf {
  font-size: 70%;
  color: lighten($text-color, 30%);
  padding-left: 1em;
}

#title {
  h1, img {
    display: inline;
    margin: 0;
    font-family: sans-serif;
  }

  li {
    font-size: 80%;
  }

  #logo {
    height: 150px;
  }

}

#jvm {
  @include animate-fadein('h1');
  @include animate-li(4);
}

#features {
  @include animate-fadein('h1');
  @include animate-li(5);
}

#javascript {
  @include animate-li(2);
}

#situation {
  @include animate-fadein('h1');
  @include animate-li(3);
}

#resource {
  @include animate-fadein('h1');
  @include animate-li(3);
}

#hello-world {
  //h1,h3,pre {
  //  @include animate-fadein
  //}

}